
@{
    Layout = "~/Views/Shared/_aboutLayout.cshtml";
    ViewBag.Title = "DetailsPeak";
}

<div class="container">
    <h2>Peak Performance Senior Capstone Project</h2>

    <div class="row">
        <div class="col-md-3">Log in Description</div>
        <div class="col-md-9"><img src="~/Img/login.PNG" />Image</div>

        <div class="col-md-3">Athlete Description</div>
        <div class="col-md-9"><img src="~/Img/peakp.png" />Image</div>

        <div class="col-md-3">Coach Description</div>
        <div class="col-md-9"><img src="~/Img/coach.PNG" />Image</div>

        <div class="col-md-3">Setting Description</div>
        <div class="col-md-9"><img src="~/Img/profile-setting.png" />Image</div>
    </div>


</div>

@section scripts
{

    <link rel="stylesheet" type="text/css" href="~/Content/about.css">

}
